
.gw-stats {
  padding-left: 0;

}

.gw-description {
  margin-bottom: 15px;
}

.gw-title {
  font-weight: 500;
  font-size: 2em;
}
.gw-icon {
  vertical-align: middle;
  horizontal-align: middle;
  height: 16px;
  width: 16px;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0.15em;

}

svg {
  -webkit-backface-visibility: hidden;
}

.gw-watchers, .gw-forks, .gw-stars {
  padding-left: 0;
  text-align: center;
  margin: auto;

}
