<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">
	<div class="container-fluid text-center text-md-center">
		<div class="row justify-content-md-center">
			<div class="col-md-offset-3 col-md-6">
				<h5>Follow Us</h5>
				<h1>
					<a class="ml-auto mr-2" href="{{site.facebook}}"><i class="fab fa-facebook-square"></i></a>
					<a class="mx-2" href="{{site.instagram}}"><i class="fab fa-instagram"></i></a>
					<a class="mx-2" href="{{site.github}}"><i class="fab fa-github"></i></a>
					<a class="mr-auto ml-2" href="mailto:{{site.email}}"><i class="fas fa-envelope"></i></a>
				</h1>
			</div>
		</div>
	</div>
	<!--Copyright-->
	<div class="footer-copyright py-3 text-center">
		{{site.footer_text}}
	</div>
</footer>
<!-- End Footer -->

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
