<!-- 
	Designed and Developed for DSEP Modules @ UC Berkeley
	@author Tony Zhao
	@site tonyzhao.org
 -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{ page.title }}
	</title>
	<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
	<!-- Fontawesome JS -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
	{{ page.extra_head }}
	<!-- Custom CSS -->
	{% if page.layout == "index" %}
	<link rel="stylesheet" href="static/stylesheets/style.css">
	{% else %}
	<link rel="stylesheet" href="../static/stylesheets/style.css">
	{% endif %}
</head>