<!DOCTYPE html>
<html class="w-100 h-100">

{% include head.html %}

<body class="w-100 h-100">
	
	{% include navbar.html %}

	<!-- Content -->
	<div class="row mx-auto w-100 mt-5 justify-content-md-center">
		<div class="col-md-offset-2 col-md-8 mt-5 text-center">
			<h1><img src="static/images/ds-logo.svg"></h1>
			<h1 class="display-4">
				{{ page.title }}
			</h1>
			<p>
				{{ page.content }}
			</p>
			<a href="guide"><button type="button" class="btn btn-success">Learn More!</button></a>
		</div>
	</div>
	<div class="mt-5 w-75 jumbotron mx-auto">
		<h1>Featured Modules</h1>
		<p class="lead">Some great modules to check out!</p>
		<hr class="my-4">
		{% for module in site.featured %}
		<!-- Featured Module Block -->
		<div class="card border-info">
			<div class="row card-body">
				<!-- Title Column -->
				<div class="d-flex justify-content-center flex-column col-md-3">
					<h4 class="card-title">{{module.title}}</h4>
					<p class="lead">{{module.course_name}}</p>
					<p>{{module.instructor}}</p>
				</div>
				<!-- Paragraph Column -->
				<div class="d-flex justify-content-center flex-column col-md-6">
					<p class="card-text">
						{{module.content}}
					</p>
				</div>
				<!-- Link Column -->
				<div class="d-flex justify-content-center pb-4 flex-column col-md-3">
					<div class="btn-group-vertical my-3">
						{% if module.github_link %}
							<a 
								class="btn btn-primary"
								tabindex="0"
								href="{{module.github_link}}">
								<i class="fab fa-github"></i> Github
							</a>
						{% endif %}
						{% if module.datahub_link %}
							<a 
								class="btn btn-primary" 
								tabindex="0"
								href="{{module.datahub_link}}">
								<i class="fas fa-database"></i> Datahub
							</a>
						{% endif %}
						{% if module.nbviewer_link %}
							<a 
								class="btn btn-primary" 
								tabindex="0"
								href="{{module.nbviewer_link}}">
								<i class="fas fa-paperclip"></i> Nbviewer
							</a>
						{% endif %}
						{% if module.binder_link %}
							<a
								class="btn btn-primary" 
								tabindex="0"
								href="{{module.binder_link}}">
								<i class="fas fa-book"></i> Binder
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<!-- End Content -->

	{% include footer.html %}
</body>
</html>